body {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.Sm_Bold {
    margin-bottom: -8px;
}

.course_work {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: -16px;
}

.Resume,
.Resume_Head,
.Resume_Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: -webkit-fill-available;
}

.Resume_Body,
.Resume_Head {
    flex: 1;
}

.Resume {
    padding: 1vh 5vw;
}

.Exp {
    margin: 2.5px 0;
}

hr {
    background-color: black;
    height: 2.5px;
}

.Section {
    width: 100%;
}

.Resume_Name {
    font-size: 2rem;
    font-weight: 700;
}

.Sep {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5px 0;
}

.S_Bold {
    font-size: 1rem;
    font-weight: 700;
}

.Section_Head {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 8px 0 0 0;
    color: rgb(53, 52, 57);
}

.Institute {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2.5px;
}

.DF,
.DFP {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.DF .S_Bold {
    flex-basis: 140px;
    flex-grow: 0;
}

.DFPE .S_Bold {
    display: inline;
    white-space: nowrap;
    /* Prevent line breaks within the same element */
}

.Skills {
    flex-basis: 464px;
    flex-grow: 1;
    height: auto;
}

a {
    margin: 0 5px;
    text-decoration: none;
}

/* Additional styling for Resume_Head */
.Resume_Head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.Resume_Contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}